* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-box{
    margin-right: 0%;
    width: 100%;
    padding: 2%;
    border: 2px solid blueviolet;
}

.top-flex-container{
    display: flex;
    width: 100%;
}

.top-nav{
    margin-right: 0%;
    width: 100%;
    border: 2px solid blueviolet;
}

.search{
    width: 20%;
    border: 2px solid blueviolet;
}

.sidebar{
    width: 20%;
    border: 2px solid blueviolet;
    height: 100vh;
}

.bottom-flex-container{
    display: flex;
    width: 100%;
}